<!DOCTYPE html>
<html>
<head>
    <title>O stronie</title>
</head>
<body>
    <p>
        Ta strona stara się pomóc tym wszystkim, którzy zastanawiają się,
        czy danego dnia obowiązuje post czy nie.
    </p>
    <p>
        Wskazane dni bezmięsne są piątkami, z określonymi wyjątkami w postaci uroczystości.
        Nie uwzględniane są w tej chwili uroczystości diecezjalne, parafialne i inne wyjątki,
        np. w postaci udzelonych przez biskupów czy proboszczów dyspens.
    </p>
    <p>
        Episkopat i twórc, zachęcają też do tradycyjnego postu w Wigilię Bożego Narodzenia.
    </p>
    <p>
        Copyright: jasisz<br/>
        Credits:
        <ul>
            <li>Zdjęcie ryby: <a href="https://www.flickr.com/photos/spilt-milk/3507159167/">yoppy</a></li>
            <li>Zdjęcia mięsa: <a href="https://www.flickr.com/photos/ornellopics/6344828894/">ornello_pics</a></li>
            <li>Zdjęcie chleba: <a href="https://www.flickr.com/photos/jm_photos/425893831/">Jill M</a></li>
        </ul>
        Wszystkie zdjęcia pochodzą z serwisu Flickr i są objęte
        <a href="https://creativecommons.org/licenses/by/2.0/">licencją Creative Commons</a>.
    </p>
</body>
</html>